.Div {
  
    background-color: rgb(0, 0, 0);    
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
  width: 100%;
  top: 25%;

  }

  .container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
  }

  body {
    background-color: rgb(0, 0, 0);   

  }

  img {
    display: block;
    align-content: center;
    width: 100%;

    align-items: center;
    justify-content: center;

  }

 
